<html>
<head>
<link rel="stylesheet" href="css/slate.css">
<title>slate</title>
</head>

<body>

<div class="nav-panel">
    <nav>
        <ul>
            <li class="tag"><a href="#"><i class="icon fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="icon fa fa-star" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="icon fa fa-dot-circle-o" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="tile-container">
        <a class="tile tile-link" href="#one">
            <div class="tile-box">One</div>
            <div class="tile-title">One</div>
        </a>
        <a class="tile tile-link" href="#two">
            <div class="tile-box">Two</div>
            <div class="tile-title">Two</div>
        </a>
        <a class="tile tile-link" href="#">
            <div class="tile-box">Three</div>
            <div class="tile-title">Three</div>
        </a>
        <a class="tile tile-link" href="#">
            <div class="tile-box">Four</div>
            <div class="tile-title">Four</div>
        </a>
    </div>
</div>

</body>
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
<script src="js/slate.js"></script>
</html>
